<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.apps.wallpaper.overlay">
    <application android:label="WallpaperPickerGoogleReleaseOverlay" android:hasCode="false"/>
    <overlay android:targetPackage="com.google.android.apps.wallpaper" android:priority="0" android:targetName="WallpaperPickerGoogleRelease" android:isStatic="true"/>
</manifest>
